<ion-item>
  <ion-avatar>
    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
  </ion-avatar>
  <ion-label class="ion-margin-start">
    <h2>Raja RD</h2>
    <p>View and Edit Profile</p>
  </ion-label>
  <ion-content [fullscreen]="true">
    <ion-list padding *ngFor="let item of data">
      <ion-item>
        <ion-icon name={{item.icon}}></ion-icon>
        <ion-label>{{item.discription}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-item>
<ion-grid>
  <ion-row *ngFor="let item of data">
    <ion-col>
      <ion-label>{{item.discription}}</ion-label>

    </ion-col>
  </ion-row>
</ion-grid>